.clearfix {
    content: "";
    clear: both;
    display: table;
}

.add-item {
    position: relative;
    width: 50%;
    margin: 0 auto;
}

.button-group {
    width: 40%;
    margin: 0 auto;
    padding: 2rem;
}
