.wrapper {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  max-width: 960px; /* 2 */

  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
}


.app {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-size: 5rem;
  font-weight: 200;
}

.title--main {
  padding: 1rem;
  margin-top: 4rem;
  margin-bottom: 0;
}

.title--sub {
  position: relative;
  bottom: 2rem;
  display: block;
  padding: 1rem;
  font-size: 1.4rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 2rem;
}