.wrapper {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */
  max-width: 960px; /* 2 */
  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
}

.app {
  position: relative;
  text-align: center;
  overflow: hidden;
}

header .icon {
  height: 2rem;
  width: 2rem;
  display: inline-block;
}

.app__header {
  position: relative;
  height: 5rem;
  width: 100%;
}

.app__header-container {
  position: absolute;
  top: 1rem;
  left: 2rem;
}

aside {
  display: block;
  position: relative;
  padding: 4rem 0;
  border-top: 1px solid #ddd;
}

.color-background {
  background-color:  #ff6342;
  transition: 300ms ease;
}

.color-background.break { background-color: rgb(91, 117, 246); }
.color-background.work { background-color: #2ecc71; }

main {
  position: relative;
  display: block;
  min-height: 100vh;
}

.title--main {
  padding: 1rem;
  margin-bottom: 0;
}

.title--sub {
  position: relative;
  bottom: 2rem;
  font-weight: 100;
  display: block;
  padding: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.color--red { color: #ff6342; }

.color--green { color: #27ae60; }

.color--blue { color:om #2196F3; }

@media only screen and (max-width: 769px) {
  header {
    padding-bottom: 5rem;
  }

  main, aside {
    position: relative;
    display: block;
  }

  main {
    text-align: center;
    width: 100%;
  }

  aside {
    width: 100%;
    padding-bottom: 5rem;
  }
}