button:hover { cursor: pointer; }
button:focus { outline: none; }

.button--icon {
  position: relative;
  background-color: #fff;
  height: 5rem;
  width: 5rem;
  border-radius: 10rem;
  margin: 0 1rem;
}

.pom__button {
  position: relative;
  top: 2rem;
}

.button--icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

.button--add {
  transition: 200ms ease;
  border: 1px solid #ff6342;
}

.button--add {
  color: #ff6342;
}

.button--close {
  border: 1px solid #ff6342;
  transition: 300ms ease;
}

.button--play {
  border: 1px solid #27ae60;
  transition: 300ms ease;
}

.button--play i { transform: translate(-40%, -50%)}

.button--add:hover { background-color: #ff6342; }
.button--add:hover i { color: #fff; }


.button--close:hover { background-color: #ff6342; }
.button--close:hover i { color: #fff; }

.button--play:hover { background-color: #27ae60; }
.button--play:hover i { color: #fff; }