button:hover { cursor: pointer; }
button:focus { outline: none; }

.todo .button--icon {
  position: relative;
  background-color: #fff;
  height: 5rem;
  width: 5rem;
  border-radius: 10rem;
  margin: 0 1rem;
}

.todo .button--icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

.button--trash {
  border: none;
  font-size: 1.5rem;
  color: #ddd;
  transition: 300ms ease;
  background-color: transparent;
  z-index: 2;
}

.button--trash:hover {
  color: #666;
  transform: scale(1.02);
}

.disabled .active .button--trash { color: #fff; }

.disabled .button--trash:hover {
  color: #ddd;
  transform: none;
}

.button--add {
  transition: 200ms ease;
  border: 1px solid #ff6342;
}

.button--add {
  color: #ff6342;
}

/* .button--play i { transform: translate(-50%, -50%)} */

.button--add:hover { background-color: #ff6342; }
.button--add:hover i { color: #fff; }

/* .button--close:hover { background-color: #ff6342; }
.button--close:hover i { color: #fff; }

.button--play:hover { background-color: #ff6342; }
.button--play:hover i { color: #fff; } */

.pom__button {
  display: inline-block;
  position: relative;
  bottom: 1.7rem;
  right: 4rem;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  transition: 300ms ease;
  color: #fff;
}

.pom_

.pomodoro.disabled i { color: #ddd; }

.pomodoro.disabled .button--play, .pomodoro.disabled .button--close {
  color: #ddd;
}

/* .pom-button-container { display: block; } */

/******************************************************
    Break
******************************************************/
/* .break .button--close {
  border: 4px solid rgb(91, 117, 246);
  transition: 300ms ease;
}

.break .button--close:hover { background-color: rgb(91, 117, 246); }
.break .button--close:hover i { color: #fff; }

.break .button--play:hover { background-color: rgb(91, 117, 246); }
.break .button--play { border: 4px solid rgb(91, 117, 246); }

.break .pom__button i { color: rgb(91, 117, 246); }
.break .pom__button:hover i { color: #fff; } */

/******************************************************
    Work
******************************************************/
/* .work .button--close {
  border: 4px solid #2ecc71;
  transition: 300ms ease;
}

.work .button--close:hover { background-color: #2ecc71; }
.work .button--close:hover i { color: #fff; }

.work .button--play:hover { background-color: #2ecc71; }
.work .button--play { border: 4px solid #2ecc71; }

.work .pom__button i { color: #2ecc71; }
.work .pom__button:hover i { color: #fff; } */