button:hover { cursor: pointer; }

.button--icon {
  position: relative;
  background-color: #fff;
  height: 5rem;
  width: 5rem;
  border-radius: 10rem;
  margin: 0 1rem;
}

.button--icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

.button--add {
  transition: 200ms ease;
  border: 1px solid #2196F3;
}

.button--stop {
  border: 1px solid #ff6342;
  transition: 300ms ease;
}

.button--pause {
  border: 1px solid #000;
  transition: 300ms ease;
}

.button--play {
  border: 1px solid #27ae60;
  transition: 300ms ease;
}

.button--add:hover { background-color: #2196F3; }
.button--add:hover i { color: #fff; }


.button--stop:hover { background-color: #ff6342; }
.button--stop:hover i { color: #fff; }

.button--pause:hover { background-color: #000; }
.button--pause:hover i { color: #fff; }

.button--play:hover { background-color: #27ae60; }
.button--play:hover i { color: #fff; }