body {
  margin: 0;
  padding: 0;
  color: #666;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  background-color: #eee;
}

::selection {
  background: #98FB98; /* WebKit/Blink Browsers */
}

html {
  font-size: 62.5%;
}

input, textarea, button {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

aside {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5rem 0;
}

.color-background { background-color:  #ff6342; }

.color--red { color: #ff6342; }

.color--green { color: #27ae60; }

.color--blue { color: #2196F3; }