.add-item--input {
  color: #333;
  height: 2rem;
  padding: 5px;
  width: 100%;
  transition: 400ms ease;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #ccc;
  border-width: 1px;
  text-align: center;
  font-size: 1.8rem;
}

.add-item--input::placeholder { color: #ccc; }
.add-item--input:focus { outline: none; }

/* .add-item--input:focus {
  outline: none;
  width: 80%;
} */
