.add-item--input {
  display: block;
  color: #333;
  width: 15rem;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 1.5rem;
  margin: 0 auto;
  padding: 5px 1rem;
  text-align: center;
  transition: 400ms ease;
}

.add-item--input::placeholder { color: #ccc; }
.add-item--input:focus {
  outline: none;
  width: 50rem;
}
.add-item--input:focus::placeholder { color: #fff; }

.todo.disabled .add-item--input {
  border-bottom: 1px solid #eee;
  background-color: #eee;
  color: #eee;
}

@media only screen and (max-width: 769px) {
  .add-item--input:focus {
    width: 70%;
  }
}