.pomodoro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pomodoro.disabled button{ border: 1px solid #ddd; }

.pomodoro.disabled i { color: #ddd; }

.pomodoro .CircularProgressbar-text { color: #ff6342!important; }
.pomodoro.disabled .CircularProgressbar-text { fill: #ddd!important; }
.pomodoro.work .CircularProgressbar-text { fill: #27ae60!important; }


.pomodoro.disabled .CircularProgressbar .CircularProgressbar-trail { stroke: #ddd; }

.pomodoro.disabled .CircularProgressbar .CircularProgressbar-path { stroke: #ddd!important; }
.pomodoro.work .CircularProgressbar .CircularProgressbar-path { stroke: #27ae60!important; }

.pomodoro.disabled .button--play, .pomodoro.disabled .button--close {
  color: #ddd;
  background-color: #aaa;
}