.pomodoro.disabled button{ border: 1px solid #ddd; }

.pomodoro.disabled i { color: #ddd; }

.pomodoro .CircularProgressbar-text { color: #ff6342!important; }
.pomodoro.disabled .CircularProgressbar-text { fill: #ddd!important; }
.pomodoro.work .CircularProgressbar-text { fill: #fff!important; }


.pomodoro.disabled .CircularProgressbar .CircularProgressbar-trail { stroke: #ddd; }

.pomodoro.disabled .CircularProgressbar .CircularProgressbar-path { stroke: #ddd!important; }
.pomodoro.work .CircularProgressbar .CircularProgressbar-path { stroke: #fff!important; }

.pomodoro.disabled .button--play, .pomodoro.disabled .button--close {
  color: #ddd;
  background-color: #fff;
}

.CircularProgressbar-trail, .CircularProgressbar-path {
  stroke-width: 2;
}