.todo.disabled .todo-list-item {
  border: 1px solid #ddd;
  background-color: #ddd;
  color: #bbb;
}

.todo.disabled .todo-list-item {
  border: 1px solid #ddd;
  background-color: #ddd;
  color: #bbb;
}

.todo.disabled .todo-list-item.active {
  border: 1px solid #ff6342;
  color:#ff6342;;
}

.todo.disabled .button--add {
  border: 1px solid #ddd;
  color: #ddd;
}

.todo.disabled .add-item--input {
  border-bottom: 1px solid #ddd;
  background-color: #ddd;
  color: #ddd;
}

.todo.disabled .button--add:hover { background-color: #fff; }

.todo.disabled .button--add:hover i { color: #ddd; }